{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head %}
{% trans "Sign In" %}
{% endblock %}

{% block content %}
<h1 class="display-4 text-center">{% trans "Sign In Required" %}</h1>

{% get_providers as socialaccount_providers %}

<p class="text-center">{% blocktrans with site.name as site_name %} To access this page, please sign in with one
of your existing third party accounts listed below. {% endblocktrans %}</p>

{% include "socialaccount/snippets/provider_list.html" with process="login" %}

{% endblock %}