<!--
# /***************************************************************************************
# *  REFERENCES
# *  Title: How to edit django-allauth default templates?
# *  Author: Sebastian Tare B., TitanFighter
# *  Date: 11/5/2020
# *  Code version: N/A
# *  URL: https://stackoverflow.com/questions/39009638/how-to-edit-django-allauth-default-templates
# *  Software License: CC BY-SA 3.0
# ***************************************************************************************/
-->
{% extends "account/base.html" %}

{% block head_title %}Sign Out{% endblock %}

{% block content %}
<h1 class="display-4 text-center">Log Out</h1>
<br>
<p class="text-center">Are you sure you want to Log out?</p>
<br>
<form method="post" action="{% url 'account_logout' %}" class="text-center">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit" class="btn btn-success">Yes, Log Out!</button>
  <a href="/" class="btn btn-danger" role="button">No, Go Back!</a>
</form>
{% endblock %}
