{% extends 'base.html' %}
<!--{% load socialaccount %}-->

{% block content %}
<style>
  h1{text-align: center;}
  p{text-align: center;}
</style>

{% if user.is_authenticated %}
  <h1 class="display-4">Welcome to Hoos Listening, {{ user.first_name }}!</h1>
  <br>
  <p class="h5">Want to look at some existing issues? <a href="{%url 'home:issues'%}">Click here!</a></p>
  <p class="h5">Want to express something you're passionate about? <a href="{%url 'home:submit_issue'%}">Click here!</a></p>
    <br>
  <hr>
<br>
{% else %}
  <h1 class="display-4">Welcome to Hoos Listening!</h1>
  <p>Hey newcomer! We're excited to have you use Hoos Listening! But first, please login with a Google Account so that we can register a profile in your name!</p>
  <p><a href="{% provider_login_url 'google' %}" class="btn btn-primary">Login with Google</a></p>
  <hr>
{% endif %}
<section class="page-section" id="services">
  <div class="container">
      <div class="text-center">
          <h2 class="section-heading text-uppercase">Contacting Representatives</h2>
          <h3 class="section-subheading text-muted">Communication made easy</h3>
      </div>
      <div class="row text-center">
          <div class="col-md-4">
              <span class="fa-stack fa-4x">
                  <i class="fas fa-circle fa-stack-2x text-primary"></i>
                  <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="my-3">1. Fill in your information</h4>
              <p class="text-muted">Adjust your personal information on your <a href="/profile">profile page</a> found in the top right of the screen!</p>
          </div>
          <div class="col-md-4">
              <span class="fa-stack fa-4x">
                  <i class="fas fa-circle fa-stack-2x text-primary"></i>
                  <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="my-3">2. Look at the issues</h4>
              <p class="text-muted">Scroll through current issues that people are writing to their representatives about in the <a href="{%url 'home:issues'%}">issues tab!</a></p>
          </div>
          <div class="col-md-4">
              <span class="fa-stack fa-4x">
                  <i class="fas fa-circle fa-stack-2x text-primary"></i>
                  <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="my-3">3. Submit your own issues</h4>
              <p class="text-muted">Can't find what you're looking for? <a href="{%url 'home:submit_issue'%}">Submit</a> your own issue complete with an (optional) image, description, and email template!</p>
          </div>
      </div>
      <div class="text-center">
        <h4 class="my-3">4. Email!</h4>
        <p class="text-muted">Simply click 'Email Representative' while looking at an issue and an email template will be prepopulated for you! All you'll need to do is fill in the contact's information and any spots indicated in the provided template!</h3>
    </div>
  </div>
</section>
{% endblock %}
