body {
    margin-bottom: 60px;
}

.dropdown-menu a:hover {
    background-color: #545d6b;
}

.card-deck-issues{
    margin-top: 10px;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    grid-gap: .5rem;
}

.card-img-top {
    width: 100%;
    height: 250px;
    object-fit: contain;
}

.card-img-top-description {
    object-fit: contain;
    object-position: center;
    width: 100%;
    max-height: 300px;
}