{% extends 'base.html' %}
{% load socialaccount %}

{% block content %}
{% if user.is_authenticated %}

  <div class="card" >
    <h5 class="card-header text-left">{{ user.get_full_name }}'s Profile</h5>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">Full Name: {{ user.first_name }} {{ user.last_name }}</li>
      <li class="list-group-item">Email: {{ user.email }}</li>

      {% if userprofile.street_address == None and userprofile.city == None and userprofile.state == None and userprofile.zip_code == None %}
      <li class="list-group-item">Address: N/A </li>
      {% else %}
      <li class="list-group-item">Address: {% if userprofile.street_address %}{{ userprofile.street_address }}{% endif %}{% if userprofile.city %}{% if userprofile.street_address %}, {% endif %}{{ userprofile.city }}{% endif %}{%if userprofile.state %}{% if userprofile.state and userprofile.street_address or userprofile.city %}, {% endif %}{{ userprofile.state }}{% endif %} {%if userprofile.zip_code %}{{ userprofile.zip_code }}{% endif %}</li>
      {% endif %}

      {% if userprofile.phone_number != None %}
      <li class="list-group-item">Phone Number: {{ userprofile.phone_number }}</li>
      {% else %}
      <li class="list-group-item">Phone Number: N/A </li>
      {% endif %}
    </ul>
    <div class="card-body text-center">
        <a href="/profile/update/" class="btn btn-primary">Update Profile</a>
    </div>
      <div class="card-footer text-muted">
        Note: Contact information above may be automatically included in any email submitted from this account. If you would like to omit any information from the emails, then please remove the relevant information above.
      </div>
  </div>

  <br>

  <div class="card">
    <h5 class="card-header">Saved Issues - <span class="text-success">Approved</span> | <span class="text-danger">Pending Approval</span></h5>
  </h6>
      <ul class="list-group list-group-flush">
          {%if userprofile.saved_issues.all%}
              {% for issue in userprofile.saved_issues.all %}
                  {% if issue.approval == True %}
                    <li class="list-group-item"><a class="text-success" href="{%url 'home:issues_detail' issue.id%}"><u><b>{{ issue.issue_name }}</b></u></a> - {{ issue.description }}</li>
                  {% else %}
                    <li class="list-group-item"><a class="text-danger" href="{%url 'home:issues_detail' issue.id%}"><u><b>{{ issue.issue_name }}</b></u></a> - {{ issue.description }} </li>
                  {% endif %}
             {% endfor %}
          {%else%}
          <li class="list-group-item text-center">
            You currently do not have any saved issues, {{ user.first_name }}! Click <a href="{%url 'home:issues'%}">here</a> to go to the issues page to browse issues you are interested in saving!
          </li>

          {%endif%}
      </ul>
    </div>
{% else %}
  <p>You are not logged in. Please log in below. </p>
  <a href="{% provider_login_url 'google' %}">Login with Google</a>
{% endif %}

{% endblock %}
