{% extends 'base.html' %}
{% load socialaccount %}
{% load bootstrap4 %}

{% block content %}

<h2>Update Profile</h2>
{% if user.is_authenticated %}
    <form method="post">
      {% csrf_token %}
      {% bootstrap_form user_form %}
      {% bootstrap_form profile_form %}
      <button class="btn btn-primary" type="Submit" >Save Changes</button>
    </form>
{% else %}
  <p>You are not logged in. Please log in below. </p>
  <a href="{% provider_login_url 'google' %}">Login with Google</a>
{% endif %}

{% endblock %}
