{% extends 'saved_base.html' %}
{% load socialaccount %}

{% block content %}
<h1 class="display-4 text-center">Your Saved Issues</h1>
<h5 class="text-center"> <small class="text-muted">Note: <span class="text-success">Green</span> titles indicates that the issue has been approved by administrators, while <span class="text-danger">red</span> titles indicates that the issue is currently pending approval.</small></h5>

{% if userprofile.saved_issues.all %}
    <div class="card-deck-issues">
    {% for issue in userprofile.saved_issues.all %}
            <div class="card text-center">
            {% if issue.image %}
              <img class="card-img-top" src="{{ issue.image.url }}" alt="Image for {{ issue.issue_name }}">
            {% else %}
              <img class="card-img-top" src="https://hooslistening119f20.s3.amazonaws.com/documents/default_image.png" alt="Issue Image">
            {% endif %}
                {% if issue.approval %}
                <h5 class="card-header text-success">{{ issue.issue_name }}</h5>
                {% else %}
                <h5 class="card-header text-danger">{{ issue.issue_name }}</h5>
                {% endif %}
              <div class="card-body">
                <p class="card-text">{{ issue.description }}</p>
                <a href="{%url 'home:issues_detail' issue.id%}" class="btn btn-primary">More Info</a>
              </div>
            </div>
    {% endfor %}
    </div>
{% else %}
<br>
<p class="text-center">You currently do not have any saved issues, {{ user.first_name }}! Click <a href="{%url 'home:issues'%}">here</a> to go to the issues page to browse issues you are interested in saving!</p>
{% endif %}

{% endblock %}